*{
    padding:0;
    margin:o;
    box-sizing: border-box;
}
body{
  background-image: url(images/background2.jpg);
  background-size: cover;
  background-position: top;
  font-family: sans-serif;
}
   
 .menu-bar{
    background-color:rgba(0,100,0);
    text-align:center;
}
.menu-bar ul{
    display:inline-flex;
    list-style:none;
    color:rgb(255, 255, 255);
}
.menu-bar ul li{
    width:120px;
    padding:15px;
    margin:15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: antiquewhite;
}
.active,.menu-bar ul li:hover{
    background-color:#2bad0d;
    border-radius:3px;
}
.color{
    background:linear-gradient(to top right, rgba(148, 18, 9, 0.685), rgb(7, 1, 3));
    width:100%;
    height: 100%;
    opacity:0.8;
}
.hero{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
form{
    width:90%;
    max-width:600px;
    color:aqua;
}
.input-group{
    margin-bottom:30px;
    position:relative;
}
input, textarea{
    width:100%;
    padding:10px;
    outline:0;
    border:1px solid rgb(0, 0, 0);
    color:rgba(243, 227, 227, 0.308);
    background:transparent;
    font-size:15px;
}
label{
    height:100%;
    position:absolute;
    left:0;
    top:0;
    padding:10px;
    color:rgb(219, 200, 200);
    cursor:  text; 
    transition:.2s;
}
button{
    padding: 10px 0;
    color:#fff;
    outline:none;
    background: transparent;
    border: 1px solid #fff;
    width:100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top:-35px;
    font-size:14px;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;
}
.div-home{
    font-size: 50px;
    color:beige;
    text-decoration: none;
   
}
.service1{
    font-size: 30px;
    text-align:left;
      color:rgba(207, 12, 207, 0.932) ;
      padding:10px;
}
 
